table {
  tr {
    th,
    td {
      border-bottom: 1px solid lightgray;
      padding: 0 15px;
    }
  }
  tr:hover {
    background-color: lightgray;
  }
}

.description {
  background-color: lightblue;
  padding: 15px;
  border-radius: 5px;
  margin: 0 10px;
  min-width: 90px;
  text-align: center;
  span {
    font-weight: 600;
  }
}

.base-layout {
  overflow: auto;
}

.content {
  overflow: auto;
}

.result {
  padding: 25px;
  text-align: center;
  background-color: lightblue;
  margin-top: 25px;
}

.number {
  font-size: 28px;
  font-weight: 700;
  width: 30px;
}
